
.wz-view{
    background: #545f65;
}

.wz-ui-header.dark .wz-view-menu-group:last-child {
  border-right: none;
  border-left: 0px solid transparent;
  box-shadow: -1px 0 transparent;
}
.wz-view-menu-group:last-child {
    border-right: none;
    border-left: 0px solid #e0e0e0;
}

.preferences-top{
    width: 282px;
    border-bottom: none;
}

.preferences-top span{

    float: left;
    margin: 16px 15px;
    font-size: 15px;
    color: #FFF;
    text-shadow: 0 -1px rgba( 0, 0, 0, 0.15 );

}

.preferences-account{

    width: 254px;
    height: 52px;
    padding: 0 15px;
    float: left;
    background: #3f4750;
    border: none;

}

.preferences-account img{

    width: 32px;
    height: 32px;
    border-radius: 2px;
    background: #F00;
    float: left;
    margin-top: 10px;
    display: none;

}

.preferences-account-name{

    font-size: 13px;
    color: #FFF;
    float: left;
    margin-top: 19px;
    /*margin-left: 10px;*/

}

.preferences-account-remove{

    font-size: 13px;
    color: #B93F3A;
    float: right;
    margin-top: 19px;

}

.preferences-account-remove:hover{
    text-decoration: underline;
}

.preferences-content{

    width: 254px;
    height: 271px;
    padding: 20px 15px;
    float: left;
    background: #545f65;
    border: none;

}

span.preferences-content-title{

    width: 100% !important;
    text-align: left !important;
    font-size: 13px;
    color: #FFF;
    float: left;
    margin-bottom: 15px;

}

.preferences-bottom-selectable{
    margin: 0;
    background: #2C3238;
}

.preferences-bottom-checkbox{

    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;


}

.preferences-bottom-checkbox figure{

    float: right;
}

.preferences-button{

    width: auto;
    height: auto;
    padding: 10px 15px;
    float: right;
    margin-top: 10px;
    text-align: center;
}
.preferences-button * {
  transition: all 0.2 ease;
}

.preferences-button.cancel{

    border: 1px solid #2F2F2F;
    float: right;
    margin-right: 10px;


}

.preferences-button span:first-child{

    width: auto;
}
