*{
  font-family: 'Lato';
  letter-spacing: 0.02em;
}

.wz-view-menu-group{

    /*padding: 14px 20px 9px;*/
    position: sticky;

}
.wz-view{
  border-radius: 6px;
}

.wz-scroll-bar{

    background: transparent;
    right: 3px;
    width: 7px;

}

.wz-scroll-slider{

    background: rgba( 0, 0, 0, 0.2 );
    width: 7px;

}

.preferences-top{

    width: 748px;
    float: left;
	  border: solid 1px #2c3238;
    border-bottom: none;
    font-size: 13px;
    border-radius: 6px 6px 0 0;
    /*box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.15 ), inset 0 1px rgba( 255, 255, 255, 0.1 );*/
    position: relative;
    z-index: 1;
    background: #2C3238;
}

.preferences-top * {
  transition: all 0.2s ease;
}

.preferences-top nav{

    float: left;
    width: 625px;
    height: inherit;
    text-align: left;

}

.preferences-top li{

    padding-bottom: 10px;
    padding-top: 14px;
    display: inline-block;
    font-size: 15px;
    color: #bdc4c6;
    margin: 0 11px;
    border-bottom: 2px solid transparent;

}

.preferences-top li.active{

    color: #FFFFFF;
    border-bottom: 2px solid #60B25E;

}

.preferences-top li:hover{

    border-bottom: 2px solid #FFF;
    color: white;

}

.wz-view.wz-view-dragging .preferences-top li:hover{

    border-bottom: 2px solid transparent;

}

.preferences-top li.active:hover{

    color: #FFFFFF;
    border-bottom: 2px solid #60B25E;

}

.preferences-bottom{

    width: 688px;
    height: 448px;
    float: left;
    border: 1px solid #2c3238;
    background: #3f4750;
    text-align: center;
    padding: 30px;
    border-radius: 0 0 6px 6px;
  	-webkit-box-shadow: 0 20px 40px rgba(34,31,26,.3);
	  -moz-box-shadow: 0 20px 40px rgba(34,31,26,.3);
	  box-shadow: 0 20px 40px rgba(34,31,26,.3)

}
.preferences-account-button-container{
  background-color: transparent;
  margin: auto;
  text-align: center;
  margin-top: 14px;

}

.preferences-account-button *{
  transition: all 0.2s ease;
}

.wz-ui-header.dark .wz-view-menu-group:last-child {
  border-right: none;
  border-left: 0px solid transparent;
  box-shadow: -1px 0 transparent;
}

.wz-view-minimize i{
  margin-top: 8px;
  background: url('@static/minimize.png') no-repeat;
  background-size: contain;
}
.wz-view-maximize i{
  background: url('@static/expand.png') no-repeat;
  background-size: contain;
  margin-top: 0px;
}
.wz-view-close i{
  background: url('@static/close.png') no-repeat;
  background-size: contain;
  margin-top: 0px;
}

.preferences-button{

  width: 183px;
  height: 46px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
  -moz-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
  box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
  text-align: center;
}
.preferences-button *{
  transition: all 0.2s ease;

}

.preferences-button span{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.preferences-button.unactive{

    background-color: #4c7953;
	  background-image: -webkit-linear-gradient(bottom, #50a54e, #60b25e);
	  background-image: -moz-linear-gradient(bottom, #50a54e, #60b25e);
	  background-image: -o-linear-gradient(bottom, #50a54e, #60b25e);
	  background-image: -ms-linear-gradient(bottom, #50a54e, #60b25e);
	  background-image: linear-gradient(to top, #50a54e, #60b25e);
    opacity: 0.5;

}


.preferences-button.unactive span{

    text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.4 );

}

.preferences-button.unactive:hover{

    background-color: #4c7953;
    background-image: -webkit-linear-gradient(bottom, #50a54e, #60b25e);
    background-image: -moz-linear-gradient(bottom, #50a54e, #60b25e);
    background-image: -o-linear-gradient(bottom, #50a54e, #60b25e);
    background-image: -ms-linear-gradient(bottom, #50a54e, #60b25e);
    background-image: linear-gradient(to top, #50a54e, #60b25e);
    opacity: 0.5;
}

.preferences-button.unactive:active{

  background-color: #4c7953;
  background-image: -webkit-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -moz-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -o-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -ms-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: linear-gradient(to top, #50a54e, #60b25e);
  opacity: 0.5;
}

.preferences-bottom-title{

    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #d2dce2;
    display: inline-block;
    margin-bottom: 15px;

}

.preferences-bottom-description{

    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #d2dce2;
    display: inline-block;
    margin-bottom: 15px;

}

.preferences-bottom-input{

    width: 382px;
    height: 40px;
    background: #545F65;
    border: 1px solid #444;
}


.preferences-bottom-container{

    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-bottom: 9px;

}
.preferences-bottom-label{
  color: #d2dce2;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 7px;
}
.preferences-bottom-labelPassword{
  margin-bottom: 7px;
  margin-top: 10px;
  width: 384px;

}
.labelPassword{
  color: #d2dce2;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;

}

.forgetPassword{
  text-align: right;
  float: right;
  color: #60b25e;
  font-size: 13px;
}
.preferences-bottom-forget{
  text-align: right;

}

.preferences-bottom-input i:first-child{

    width: 18px;
    height: 18px;
    float: left;
    margin: 10px;
    background: url('@static/confirm.png') no-repeat;
    background-size: contain;

}

.preferences-bottom-input input{

    width: 290px;
    height: 18px;
    float: left;
    margin-top:  10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: #d2dce2;
    border-left: 1px solid #d2dce2;
    background: transparent;

}

.preferences-input-status{

    width: 22px;
    height: 22px;
    float: left;
    margin: 9px 10px;
    background: url('@static/input.png') no-repeat;
    background-size: 66px 22px;
    opacity: 0;

}

.correct .preferences-input-status{
    opacity: 1;
}

.pending .preferences-input-status{
    background-position: -22px 0;
}

.error .preferences-input-status{
    background-position: -44px 0;
}

.preferences-bottom-dropdown{

    width: 100%;
    display: inline-block;
    text-align: center;

}

.preferences-bottom-dropdown span{

    font-size: 13px;
    color: #FFF;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;

}

.preferences-bottom-dropdown article{

    width: 214px;
    height: 25px;
    background: #333;
    box-shadow: 0 1px rgba( 0, 0, 0, 0.1 ) inset;
    display: inline-block;
    margin-left: 5px;

}

.preferences-bottom-dropdown article span{

    float: left;
    margin-left: 10px;
    margin-top: 5px;
    text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.15 );

}

.preferences-bottom-dropdown article i{

    width: 0;
    height: 0;
    float: right;
    border-top: 4px solid #FFF;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin-right: 10px;
    margin-top: 11px;

}

.preferences-bottom-selectable{

    width: 410px;
    display: inline-block;
    margin-bottom: 10px;

}

.preferences-bottom-selectable span{

    float: left;
    font-size: 13px;
    color: #FFF;

}

.preferences-bottom-selectable span:first-child{

    width: 75px;
    text-align: right;

}

.preferences-bottom-checkbox{

    width: 101px;
    float: left;
    margin-left: 10px;

}

.preferences-bottom-checkbox figure{

    width: 13px;
    height: 13px;
    margin-right: 5px;

}

.preferences-bottom-checkbox figure i{

    width: 13px;
    height: 13px;
    background: url('@static/check.png') no-repeat;
    background-size: 7px 7px;
    display: none;

}

.preferences-bottom-checkbox.checked figure i{
    display: block;
}


.preferences-bottom-checkbox span{

    float: left;
    font-size: 13px;
    color: #ECEEF1;

}

.preferences-bottom-zone{
  width: 463px;
	height: 255px;
  border-radius: 3px;
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #545f65;
  display: inline-block;
  margin-top: 5px;
  position: relative;
}

.preferences-bottom-zone *{
  transition: all 0.2s ease;
}

/* HDD ZONE START */

.preferences-hdd-content{

    width: 100%;
    display: inline-block;
    text-align: center;

}

.preferences-hdd-quota{

    width: 300px;
    text-align: center;
    margin: 35px 0 35px;
    display: inline-block;

}

.preferences-hdd-usage{

    width: 100%;
    text-align: center;
    font-size: 19px;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 15px;

}

.preferences-hdd-cake{

    width: 220px;
    height: 220px;
    display: inline-block;
    background: url('@static/quora.png') no-repeat;
    background-size: 220px 220px;
    position: relative;

}
.preferences-hdd-cake-total{

    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 120px;

}

.preferences-hdd-cake-free{

    font-size: 14px;
    color: #FFF;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 145px;

}

.preferences-hdd-account{

    width: 224px;
    margin: 20px 23px 0 13px;
    display: inline-block;
    vertical-align: top;
    position: relative;

}

.preferences-hdd-plans{

    text-align: center;
    position: absolute;
    top: 0;
    left: 23px;

}

.preferences-plans-title{

    width: 100%;
    text-align: center;
    font-size: 19px;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 15px;

}

/*
.preferences-hdd-plans .preferences-button{

    margin-bottom: 10px;

}
*/

.hdd-plan-space{

    font-size: 15px;
    color: #FFF;

}

.hdd-plan-price{

    font-size: 15px;
    color: #60B25E;

}

.preferences-hdd-card{

    width: 224px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    border: 1px solid #252525;
    border-radius: 3px;
    outline: 1px solid transparent;

}

.preferences-card-top{

    width: 224px;
    float: left;
    border-bottom: 1px solid #252525;
    border-radius: 3px 3px 0 0;
    background: #FFF;
    box-shadow: inset 0 1px rgba( 255, 255, 255, 0.1 );
    padding: 22px 0;
    position: relative;

}

.preferences-card-close{

    width: 15px;
    height: 15px;
    display: block;
    background: url('@static/close.png') no-repeat 0 0;
    background-size: 30px 15px;
    position: absolute;
    top: 4px;
    right: 3px;

}

.preferences-card-close:hover{
    background-position: -15px 0;
}

.preferences-card-title{

    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #FFF;
    float: left;
    font-weight: lighter;
    margin-bottom: 7px;

}

.preferences-card-price{

    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #60B25E;
    float: left;
    font-weight: lighter;

}

.preferences-card-bottom{

    width: 184px;
    padding: 20px 20px 15px;
    border-radius: 0 0 3px 3px;
    background: #60B25E;
    float: left;

}

.preferences-card-bottom span{

    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #FFF;
    float: left;
    margin-bottom: 15px;

}

.preferences-hdd-card .preferences-button{

    width: 150px;
    height: 28px;
    margin-top: 5px;
    padding-top: 12px;
    display: inline-block;

}

span.preferences-card-subscribe-text{

    font-size: 17px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.5 );

}

.preferences-card-prev{

    width: 15px;
    height: 26px;
    position: absolute;
    top: 124px;
    left: -27px;
    display: none;

    background: url('@static/arrows.png') no-repeat;
    background-size: 30px 52px;

}

.preferences-card-prev:hover{
    background-position: 0 -26px;
}

.preferences-card-next{

    width: 15px;
    height: 26px;
    position: absolute;
    top: 124px;
    right: -27px;
    display: none;

    background: url('@static/arrows.png') no-repeat -15px 0;
    background-size: 30px 52px;

}

.preferences-card-next:hover{
    background-position: -15px -26px;
}

/* HDD ZONE FINISH */

/* ACCOUNT ZONE START */

.preferences-bottom-content.account{

    display: none;
    opacity: 0;

}

.preferences-account-top{

    width: 100%;
    display: inline-block;
    text-align: center;

}

.preferences-avatar-container{

    width: 128px;
    height: 128px;
    display: inline-block;
    margin-left: 83px;
    padding: 9px;
    border-radius: 75px;
    position: relative;
}

.preferences-account-avatar{

    position: absolute;
    top: 0px;
    left: 0px;

}

.preferences-account-image{
/*
    width: 128px;
    height: 128px;
    border-radius: 75px;

*/

    width: 128px;
    height: 128px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    background-color: #545f65;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.3);
    display: block;
    background-size: 128px 128px;

}

.preferences-account-top span{

    width: 85px;
    height: 19px;
    display: inline-block;
    margin-top: 54px;
    margin-left: -20px;
    vertical-align: top;

    border-bottom: 2px solid #60B25E;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: #60B25E;
    cursor: pointer;

}
.preferences-bottom-input-containter{
  width: 96%;
  display: inline-block;
  text-align: center;

}
.ui-input-search{
  width: 380px;
}

.input-icon i{
  float: left;
  width: 0px;
  padding-left: 13px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 16px;
  margin: 0px 10px 0px -2px;
}
.input-icon.user-icon i{
  background: url('https://static.inevio.com/app/374/sprite-account.png') no-repeat;
  background-size: 181px 18px;
  background-position: -75px 0px;
  width: 0px;
  padding-right: 6px;
}
.dark .ui-input-search.active .user-icon i {
  background-position: -94px 0px;
}

.input-icon.mail-icon i{
  background: url('https://static.inevio.com/app/374/sprite-account.png') no-repeat;
  background-size: 181px 18px;
  background-position: -113px 0px;
  width: 0px;
  padding-right: 6px;
}
.dark .ui-input-search.active .mail-icon i {
  background-position: -131px 0px;
}


.preferences-account-buttons{

    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
.preferences-account-buttons *{
  transition: all 0.2s ease;
}

.preferences-button.account{

    display: inline-block;
    margin: 7px;

}

.preferences-button.active.account{

}

.preferences-account-button{

    color: #FFF;
    font-size: 15px;

}

/* ACCOUNT ZONE FINISH */

/* PASSWORD ZONE START */

.preferences-bottom-content.password{

    display: none;
    opacity: 0;

}
.preferences-bottom-password-container{
  width: 385px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px
}

.input-icon.pass-icon i{
  background: url('https://static.inevio.com/app/374/sprite-account.png') no-repeat;
  background-size: 181px 18px;
  background-position: 0px 0px;
  width: 0px;
  padding-right: 5px;
}
.dark .ui-input-search.active .pass-icon i {
  background-position: -19px 0px;
}

.input-icon.repeatPass-icon i{
  background: url('https://static.inevio.com/app/374/sprite-account.png') no-repeat;
  background-size: 181px 18px;
  background-position: -38px 0px;
  padding-right: 5px;
}
.dark .ui-input-search.active .repeatPass-icon i {
  background-position: -57px 0px;
}
.input-icon.confirmPass-icon i{
  background: url('https://static.inevio.com/app/374/sprite-account.png') no-repeat;
  background-size: 181px 18px;
  background-position: -149px 0px;
  width: 0px;
  padding-right: 4px;
}
.dark .ui-input-search.active .confirmPass-icon i {
  background-position: -165px 0px;
}

/* PASSWORD ZONE FINISH */

/* SOCIAL NETWORKS ZONE START */

.preferences-bottom-content.social{

    display: none;
    opacity: 0;
    text-align: center;

}

.preferences-social-zone{

    display: inline-block;
    width: 286px;
    margin-top: 40px;

}
.preferences-social-zone *{
  transition: all 0.2s ease;
}

.preferences-social-card{

    width: 286px;
    display: inline-block;
    margin-top: 20px;
    -webkit-border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	background-color: #2c3238;

}


.preferences-social-title{

    width: 260px;
    height: 34px;
    padding: 8px 10px 8px 14px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #2C3238;
    float: left;
    background-image: -moz-linear-gradient( bottom, #2C3238, #2C3238 );
    background-image: -webkit-linear-gradient( bottom, #2C3238, #2C3238 );
    background-image: -o-linear-gradient( bottom, #2C3238, #2C3238 );
    background-image: linear-gradient( to top, #2C3238, #2C3238 );

}

.preferences-social-network{

    float: left;
    width: 26px;
    height: 21px;
    margin-top:7px;
    background: url('@static/twitter.png') no-repeat;
    background-size: contain;

}

.preferences-social-name{

    max-width: 189px;
    float: left;
    text-align: left;
    font-size: 15px;
    color: #FFF;
    margin-left: 9px;
    margin-top: 9px;

}

.preferences-social-name.dark{

    color: #000;
    margin-left: 10px;

}

.preferences-social-icon{

    float: right;
    width: 14px;
    height: 14px;
    margin-top: 3px;

}

.preferences-social-icon-plus{
  float: left;
  width: 14px;
  height: 14px;
  background: url('@static/anadirCuenta.png') no-repeat;
  background-size: contain;
}
.preferences-social-icon-gear{
  float: left;
  width: 14px;
  height: 14px;
  background: url('@static/gear.png') no-repeat;
  background-size: contain;
}

.preferences-social-icon.settings{
    margin-top: 2px;
}

.preferences-social-account{

    float: left;
    width: 261px;
    height: 32px;
    padding: 7px 10px 7px 15px;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 1px #FFFFFF;
    background: #EFEFEF;

}

.preferences-social-account:last-child{

    border-radius: 0 0 25px 25px;
    border-bottom: 1px solid #252525;
    box-shadow: none;

}

.preferences-social-avatar{

    float: left;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background: #F00;
    display: none;

}

/* SOCIAL NETWORKS ZONE FINISH */

/* CONFIGURATION ZONE START */

.preferences-bottom-content.config{

    display: none;
    opacity: 0;

}

.preferences-config-auto{

    display: inline-block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;

}

.preferences-config-auto figure{

    display: inline-block;
    float: none;

}

.preferences-config-auto span{

    display: inline-block;
    float: none;
    margin-top: 2px;
    vertical-align: top;

}

.preferences-config-hour{

    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 15px 0;
    padding: 6px 0;
    position: relative;

}

.preferences-config-hour span{

    font-size: 15px;
    color: #FFF;
    display: inline-block;

}

.preferences-config-now{

    width: 22px;
    height: 18px;
    padding: 2px 0;
    border-radius: 3px;
    background: #343434;
    color: #EFEFEF;
    display: inline-block;

}

.preferences-config-up{

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #EFEFEF;

    position: absolute;
    top: 0;
    left: 313px;

}

.preferences-config-down{

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #EFEFEF;

    position: absolute;
    top: 28px;
    left: 313px;

}

.preferences-config-clock{

    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;

}

.preferences-config-clock *{

    background: url('@static/clock.png') no-repeat;
    background-size: 138px 132px;

}

.preferences-config-clock figure{

    width: 132px;
    height: 132px;
    display: inline-block;
    position: relative;

}

.preferences-clock-hour{

    width: 5px;
    height: 33px;
    position: absolute;
    top: 38px;
    left: 64px;
    transform-origin: 50% 84% 0;
    -moz-transform-origin: 50% 84% 0;
    -webkit-transform-origin: 50% 84% 0;

    background-position: -132px 0;

}

.preferences-clock-minute{

    width: 5px;
    height: 55px;
    position: absolute;
    top: 16px;
    left: 64px;
    transform-origin: 50% 90% 0;
    -moz-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;

    background-position: -132px -33px;

}

.preferences-clock-second{

    width: 1px;
    height: 52px;
    position: absolute;
    top: 22px;
    left: 66px;
    transform-origin: 50% 84% 0;
    -moz-transform-origin: 50% 84% 0;
    -webkit-transform-origin: 50% 84% 0;

    background-position: -137px 0;

}

.preferences-clock-center{

    width: 5px;
    height: 5px;
    position: absolute;
    top: 63px;
    left: 64px;

    background-position: -132px -88px;

}

.preferences-bottom-selectable.time-format{
    margin-top: 5px;
}

.preferences-bottom-title.language{
}

.preferences-language-element{

    width: 130px;
	  height: 130px;
	  -webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
    text-align: center;
    margin-top: 68px;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid transparent;

}

.preferences-language-element:last-child{
    margin-right: 0;
    margin-left: 30px;
}

.preferences-language-element:hover{
    border: solid 1px rgba(0,0,0,.1);
    background: #485359;
}

.preferences-language-element.active{
    background: #60B25E;
    border: 1px solid rgba(0,0,0,.5);

}

.preferences-language-element figure{

    width: 98px;
    height: 62px;
    display: inline-block;
    margin-top: 20px;

}
.spanishFlag{
  background: url('@static/Spanish.png') no-repeat;
  background-size: 292px 62px;
}
.englishFlag{
  background: url('@static/english.png') no-repeat;
  background-size: 98px 62px;
}

.preferences-language-element.english-uk figure{
    background-position: -195px 0;
}

.preferences-language-element.spanish figure{
    background-position: -97px 0;
}

.preferences-language-element span{

    display: inline-block;
    margin: 7px;
    font-size: 17px;
    color: #FFF;

}

.preferences-language-element:hover span{
    color: #FFF;
}

.preferences-language-element.active span{
    color: #FFF;
}

.preferences-bottom-title.extensions{
    margin-top: 35px;
}

.preferences-extensions-display{

    display: inline-block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;

}

.preferences-extensions-display figure{

    display: inline-block;
    float: none;

}

.preferences-extensions-display span{

    display: inline-block;
    float: none;
    margin-top: 2px;
    vertical-align: top;

}

/* CONFIGURATION ZONE FINISH */

/* CUSTOMIZE ZONE START */

.preferences-bottom-content.custom{

    display: none;
    opacity: 0;

}

/*.preferences-bottom-content.custom .preferences-bottom-zone{

    width: 467px;
    height: 314px;
    padding: 10px 18px 10px 10px;
    text-align: justify;
  	-webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
	  background-color: #545f65;
	  border: solid 1px rgba(0,0,0,.2);

}*/
.preferences-bottom-zone-customize{
  background: transparent;
  width: 430px;
  height: 279px;
  padding-right: 20px;
}

.preferences-bottom-zone-scroll-container{
    width: 445px;
    padding: 12px 8px 12px 16px;
    text-align: justify;
  	-webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
	  background-color: #545f65;
	  border: solid 1px rgba(0,0,0,.2);
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

.preferences-wallpaper-title{

    font-size: 15px;
    color: #FFF;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 9px;
    left: 0;

}

.preferences-wallpaper-upload{

    width: 126px;
    height: 78px;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	border: solid 1px #2c3238;
    position: relative;
    display: inline-block;
    margin: 6px;
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, #404951, #47525b);
    background-image: -moz-linear-gradient(bottom, #404951, #47525b);
    background-image: -o-linear-gradient(bottom, #404951, #47525b);
    background-image: -ms-linear-gradient(bottom, #404951, #47525b);
    background-image: linear-gradient(to top, #404951, #47525b);

}

.preferences-upload-background{

    width: 49px;
    height: 35px;
    position: absolute;
    background: #d2dce2;
    top: 10px;
    left: 39px;

}

.preferences-upload-uploading{

    width: 49px;
    height: 0;
    position: absolute;
    background: #60B25E;
    top: 35px;
    left: 39px;

}

.preferences-upload-icon{

    width: 49px;
    height: 35px;
    position: absolute;
    background: url('@static/cloud.png') no-repeat;
    background-size: 49px 35px;
    position: absolute;
    top: 10px;
    left: 39px;

}

.preferences-wallpaper-upload span{

    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #d2dce2;
    position: absolute;
    left: 13px;
    bottom: 8px;

}

.preferences-wallpaper-upload:hover{
    background: #515d67;

}

.preferences-wallpaper-upload:hover .preferences-upload-icon{
  width: 49px;
  height: 35px;
  position: absolute;
  background: url('@static/cloud-hover.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 39px;
}

.preferences-wallpaper-image{

    width: 128px;
    height: 80px;
    display: inline-block;
    background: url('@static/wallpapers.jpg') no-repeat;
    background-size: 672px 336px;
    margin: 6px;
    transition: all 0.2s ease;


}

.preferences-wallpaper-image.custom{
    background-size: cover;
}

.preferences-wallpaper-image.active{
    box-shadow: 0 0 0 4px #FFF inset;
}

.wallpaper-1{
    background-position: -0px 0px;
}

.wallpaper-2{
    background-position: -135px 0;
}

.wallpaper-3{
    background-position: -270px 0;
}

.wallpaper-4{
    background-position: -405px 0;
}

.wallpaper-5{
    background-position: -540px 0;
}

.wallpaper-6{
    background-position: 0 -84px;
}

.wallpaper-7{
    background-position: -136px -84px;
}

.wallpaper-8{
    background-position: -270px -84px;
}

.wallpaper-9{
    background-position: -404px -84px;
}

.wallpaper-10{
    background-position: -540px -84px;
}

.wallpaper-11{
    background-position: 0 -168px;
}

.wallpaper-12{
    background-position: -136px -168px;
}

.wallpaper-13{
    background-position: -271px -168px;
}

.wallpaper-14{
    background-position: -404px -168px;
}

.wallpaper-15{
    background-position: -539px -168px;
}

.wallpaper-16{
    background-position: 0 -252px;
}

.wallpaper-17{
    background-position: -135px -252px;
}

.wallpaper-18{
    background-position: -269px -252px;
}

/* CUSTOMIZE ZONE FINISH */

/* INVITE ZONE START */

.preferences-bottom-content.invite{

    display: none;
    opacity: 0;
    position: relative;

}

.preferences-invite-ticket{

    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;

}

.preferences-invite-ticket img{
    width: 178px;
    height: 90px;
}

.preferences-bottom-input.invite{

    width: 275px;
    height: 15px;
    padding: 14px;
    margin-top: 25px;

}

.preferences-bottom-input.invite span{

    font-size: 19px;
    color: #242424;

}

.preferences-account-buttons.invite{
    margin-top: 25px;
}

.preferences-button.invite{
    display: inline-block;
    border: 1px solid #2F2F2F;
}

.preferences-invite-left{
    width: 100%;
    height: 15px;
    font-size: 15px;
    color: #D3D3D3;
    display: inline-block;
    margin-top: 15px;
}

.preferences-invite-beware{
    width: 360px;
    font-size: 13px;
    color: #D3D3D3;
    display: inline-block;
    line-height: 20px;
    margin-top: 65px;
}

.preferences-invite-invited{

    width: 30px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 1px rgba( 255, 255, 255, 0.2 ) inset, 0 0 0 1px rgba( 37, 37, 37, 0.5 );

    background-image: -moz-linear-gradient( bottom, #414141, #656565 );
    background-image: -webkit-linear-gradient( bottom, #414141, #656565 );
    background-image: -o-linear-gradient( bottom, #414141, #656565 );
    background-image: linear-gradient( to top, #414141, #656565 );

    position: absolute;
    top: 0;
    right: 0;

    display: none;

}

.preferences-invite-invited.display{
    display: block;
}

.preferences-invite-invited:hover{

    background-image: -moz-linear-gradient( bottom, #4C4C4C, #737373 );
    background-image: -webkit-linear-gradient( bottom, #4C4C4C, #737373 );
    background-image: -o-linear-gradient( bottom, #4C4C4C, #737373 );
    background-image: linear-gradient( to top, #4C4C4C, #737373 );

}

.preferences-invite-invited:active{

    box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 ) inset, 0 0 0 1px rgba( 37, 37, 37, 0.5 );

    background-image: -moz-linear-gradient( top, #3F3F3F, #4D4D4D );
    background-image: -webkit-linear-gradient( top, #3F3F3F, #4D4D4D );
    background-image: -o-linear-gradient( top, #3F3F3F, #4D4D4D );
    background-image: linear-gradient( to bottom, #3F3F3F, #4D4D4D );

}

.invited-friends .preferences-invite-invited{

    box-shadow: 0 1px rgba( 255, 255, 255, 0.2 ) inset, 0 0 0 1px rgba( 37, 37, 37, 0.5 );

    background-image: -moz-linear-gradient( bottom, #414141, #656565 );
    background-image: -webkit-linear-gradient( bottom, #414141, #656565 );
    background-image: -o-linear-gradient( bottom, #414141, #656565 );
    background-image: linear-gradient( to top, #414141, #656565 );

}

.preferences-invite-invited i{

    width: 25px;
    height: 25px;
    display: inline-block;
    background: url('@static/invite.png') no-repeat;
    background-size: 50px 25px;
    margin-top: 2px;

}

.invited-friends .preferences-invite-invited i{
    background-position: -25px 0;
}

.preferences-invite-friends{

    position: absolute;
    top: 40px;
    right: 0;

    width: 160px;
    background: #EFEFEF;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.3 ), inset 0 1px #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    display: none;

}

.invited-friends .preferences-invite-friends{
    display: block;
}

.preferences-invite-friends:after, .preferences-invite-friends:before {

    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.preferences-invite-friends:after {

    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #EFEFEF;
    border-width: 5px;
    left: 89%;

}

.preferences-invite-friends article{

    float: left;
    width: 140px;
    height: 25px;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 1px #FFF;

}

.preferences-invite-friends article:last-child{

    border-bottom: none;
    box-shadow: none;

}

.preferences-invite-friends article img{

    float: left;
    width: 24px;
    height: 24px;
    border-radius: 2px;

}

.preferences-invite-friends article span{

    float: left;
    width: 108px;
    height: 14px;
    margin-left: 8px;
    margin-top: 6px;
    font-size: 13px;
    color: #828282;
    text-align: left;

}

/* INVITE ZONE FINISH */

/* BACKUP ZONE START */

.preferences-bottom-content.backup{

    display: none;
    opacity: 0;
    text-align: center;
    position: relative;

}

.preferences-bottom-content-backup-img{
    display: inline-block;
    height: 105px;
    width: 223px;
    background: url('@static/backup.png') no-repeat;
    background-size: 228px 106px;
    margin: 65px 0 70px;
}

.preferences-bottom-content.backup button{
  width: 278px;
  height: 65px;
  transition: all 0.2s ease;

}

/* BACKUP ZONE FINISH */

/* ABOUT ZONE START */

.preferences-bottom-content.about{

    display: none;
    opacity: 0;
    text-align: center;
    position: relative;

}

.preferences-bottom-content.about img{
    display: inline-block;
    height: 54px;
    width: 265px;
}

.preferences-about-version{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #FFF;
    margin-top: 20px;
}

.preferences-about-text{
    width: 500px;
    display: inline-block;
    font-size: 13px;
    color: #FFF;
    text-align: justify;
    clear: both;
    line-height: 20px;
    margin-top: 25px;
}

.preferences-about-footer{
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
}

.preferences-about-link{
    font-size: 13px;
    margin: 0 10px;
    display: inline-block;
    color: #FFF;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.preferences-about-link:hover{
    color: #DDD;
}

/* ABOUT ZONE FINISH */
