
.wz-app-3{
	
	left: 0;
	border-radius: 0;
	background: rgba(0,0,0,0.15);
	opacity: 0;
}

.wz-app-3 canvas{
	
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
}

.wz-app-3 .preferences-top{
	
	width: 100%;
	height: 39px;
	float: left;
	border-top: 1px solid #3B3B3B;
	
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(37,37,37) 0%,rgb(19,19,19) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(37,37,37)),color-stop(1, rgb(19,19,19)));
    background-image: -webkit-linear-gradient(-90deg,rgb(37,37,37) 0%,rgb(19,19,19) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(37,37,37) 0%,rgb(19,19,19) 100%);
    background-image: linear-gradient(0deg,rgb(19,19,19) 0%,rgb(37,37,37) 100%);
	
}

.wz-app-3 .preferences-top nav{
	
	text-align: center;
	padding-top: 12px;
	
}

.wz-app-3 .preferences-top li{
	
	display: inline-block;
	font-size: 15px;
	color: #8D8D8D;
	height: 24px;
	margin: 0 20px;
}

.wz-app-3 .preferences-top li.active{
	
	color: #FFFFFF;
	box-shadow: 0 5px 3px -3px #34A7FF;	
	
}

.wz-app-3 .preferences-bottom{
	
	width: 100%;
	height: 300px;
	float: left;
	border-top: 1px solid #2F2F30;
	border-bottom: 2px solid #131313;
	background: #242425;
	padding-top: 50px;
	text-align: center;
	
}

.wz-app-3 .preferences-bottom-content{
	display: inline-block;
}

.wz-app-3 .preferences-bottom-cake{
	
	width: 221px;
	height: 220px;
	float:left;
	position: relative;
	margin-top: 20px;
	background: url('https://static.weezeel.com/app/3/settings.png') no-repeat;
	
}

.wz-app-3 .preferences-bottom-cake-total{
	
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	float: left;
	margin: 125px 0 10px;
	
}

.wz-app-3 .preferences-bottom-cake-free{
	
	font-size: 13px;
	color: #666667;
	width: 100%;
	text-align: center;
	float: left;
	
}

.wz-app-3 .preferences-bottom-options{
	
	width: 180px;
	height: 300px;
	float: left;
	margin-left: 75px;
	text-align: left;
	
}
	
.wz-app-3 .preferences-bottom-options span{
	
	font-size: 13px;
	font-weight: bold;
	color: #929292;
	margin-bottom: 6px;
	
}

.wz-app-3 .preferences-bottom-options article{
	
	width: 180px;
	height: 30px;
	border-radius: 2px;
	border-top: 1px solid #4B4B4D;
	padding-top: 15px;
	text-align: center;
	margin-top: 10px;
	box-shadow: 0 1px 1px #111;
	
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(54,54,57)),color-stop(1, rgb(39,39,41)));
    background-image: -webkit-linear-gradient(-90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%);
    background-image: linear-gradient(0deg,rgb(39,39,41) 0%,rgb(54,54,57) 100%);
	
}

.wz-app-3 .preferences-bottom-options article .space{
	
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	
}

.wz-app-3 .preferences-bottom-options article .price{
	
	font-size: 15px;
	color: #34A7FF;
	margin-left: 5px;
	
}

.wz-app-3 .preferences-bottom-options article.active{
	
	border-top: 1px solid #50BDFF;
	
	background-image: -moz-linear-gradient(50% 0% -90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(60,181,255)),color-stop(1, rgb(44,153,255)));
    background-image: -webkit-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: linear-gradient(0deg,rgb(44,153,255) 0%,rgb(60,181,255) 100%);
	
}

.wz-app-3 .preferences-bottom-options article.active .price{
	
	color: #A8D8FD;
	
}
	
	
